<h1>Editing task</h1>
  <div>
    <%= form_for :task, url: "/tasks/#{@task.}", method: :PUT do |f| %>

     <p>
      <%= f.label :body %><br>
      <%= f.text_field :body %>
     </p>
     <p>
      <%= f.label :body %><br>
      <%= f.text_field :body %>
     </p>
     <p>
      <%= f.submit %>
     </p>
    <% end %>

    <% link_to 'Home', tasks_path %>
 </div>
