<div class="container list">
  <ul>
    <% @tasks.each do |task| %>
      <li class="full-list">
        <%= check_box_tag 'completed', task.id, task.completed %>
        <%= task.position %>.
        <%= task.body %>
      </li>
      <li>
        <%= link_to "Edit Task", edit_task_path(task), class: 'btn btn-default edit'%>
        <%= button_to("Delete", task_path(task), method: :delete, form_class: 'inline-form' , class: 'task', class: 'btn btn-danger task')%>
      </li>
    <% end %>
  </ul>
</div>
