<div class="col s6 offset-s6">
  <h1 class="header">Checklist</h1>
</div>

<div class="row">
  <% if @task.errors.any? %>
  <div class="col s12" ><span class="flow-text"></span>
  </div>

  <div id="error_message" class="col s6 offset-s6"><span class="flow-text"><%= pluralize(@task.errors.count, "error") %> stopped this task from being created:</span>
    <% @task.errors.full_messages.each do |msg| %>
    <%= msg %>
    <% end %>
  </div>

  </div>
<% end %>

<%= form_for(@task) do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.label :position %>
  <%= f.text_field :position %>
  <%= f.submit %>
<% end %>

<div>
  <ul>
    <hr>
    <% @tasks.each do |task| %>
      <li><%= task.position %>.
        <%= task.body %>
      </li>
      <li><%= link_to "Edit Task", edit_task_path(task) %>
        <%= button_to "Delete", task_path(task), method: :delete, class: 'Task' %>
      </li>
      <hr>
    <% end %>
  </ul>
</div>
